theme = "fleet_dark"

[editor]
auto-format = true
line-number = "relative"
cursorline = true
bufferline = "multiple"
color-modes = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.statusline]
left = ["mode", "spinner", "file-name", "file-modification-indicator"]
right = ["diagnostics", "selections", "position", "file-encoding", "file-type"]

[editor.lsp]
display-messages = true
display-inlay-hints = true

[editor.file-picker]
hidden = false
git-ignore = false

[editor.indent-guides]
render = true

[keys.normal.space]
l = ":reload-all"
